LIMPIEZA Y TRANSFORMACION DE DATOS PARA SU VISUALIZACION EN POWER BI

In [5]:
#LIBRERIAS A UTILIZAR
import pandas as pd
import numpy as np 
%pip install pyarrow
import pyarrow.parquet as pq

Requirement already satisfied: pyarrow in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (22.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
#Es importante instalar fastparquet para evitar errores con pyarrow al leer archivos parquet y tambien asi poder convertirlos a csv y trabajar mejor
%pip install fastparquet

# Use the fastparquet engine to avoid the pyarrow "pandas.period already defined" extension error
data = pd.read_parquet('Crimenes2023-2025.parquet', engine='fastparquet')
data.to_csv('Crimenes2023-2025.csv', index=False)

Requirement already satisfied: fastparquet in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from fastparquet) (2.3.3)
Requirement already satisfied: numpy in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from fastparquet) (2.3.4)
Requirement already satisfied: cramjam>=2.3 in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: fsspec in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from fastparquet) (2025.10.0)
Requirement already satisfied: packaging in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from fastparquet) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from pandas>=1.5.0->fastparquet) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from pandas>=1.5.0->fastparquet) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\documents\web scraping inmobiliaria\evn\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
# Abrimos los archivo nuevo
df = pd.read_csv('Crimenes2023-2025.csv')
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,occ_year,occ_month,occ_date,occ_day
0,211507896,2021-04-11,2020-11-07,31500000000,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,7800 BEEMAN AV,34.2124,-118.4092,2020,Nov,7,Sat
1,201516622,2020-10-21,2020-10-18,67500000000,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,ATOLL AV,34.1993,-118.4203,2020,Oct,18,Sun
2,240913563,2024-12-10,2020-10-30,45600000000,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,14600 SYLVAN ST,34.1847,-118.4509,2020,Oct,30,Fri
3,210704711,2020-12-24,2020-12-24,47400000000,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,6000 COMEY AV,34.0339,-118.3747,2020,Dec,24,Thu
4,201418201,2020-10-03,2020-09-29,66600000000,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,4700 LA VILLA MARINA,33.9813,-118.4350,2020,Sep,29,Tue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,2025-02-02,2025-02-02,5400000000,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,22100 ROSCOE BL,34.2259,-118.6126,2025,Feb,2,Sun
1004987,250404100,2025-02-18,2025-02-18,36000000000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,IC,Invest Cont,237.0,3500 PERCY ST,34.0277,-118.1979,2025,Feb,18,Tue
1004988,251304095,2025-01-31,2025-01-30,57240000000,13,Newton,1372,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,300 E 53RD ST,33.9942,-118.2701,2025,Jan,30,Thu
1004989,251704066,2025-01-17,2025-01-17,57600000000,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,9600 ZELZAH AV,34.2450,-118.5233,2025,Jan,17,Fri
1004990,251904210,2025-03-25,2025-03-25,45300000000,19,Mission,1944,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,11100 OMELVENY AV,34.2722,-118.4417,2025,Mar,25,Tue

In [24]:
# DESCRIPCION DE LOS DATOS
df.info()
print('-----------------------')
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         1004991 non-null  object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        1004991 non-null  object
 13  Vict Descent    1004991 non-null  object
 14  Premis Cd       1004991 non-null  float64
 15  Premis Desc     1004991 non-null  object
 16  Weapon Used Cd  1004991 non-null  float64
 17  Weapon Desc     1004991 non-null  object
 18  Status          1004991 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004991 non-null  float64
 21  LOCATION        1004991 non-null  object
 22  LAT             1004991 non-null  float64
 23  LON             1004991 non-null  float64
 24  occ_year        1004991 non-null  int64
 25  occ_month       1004991 non-null  object
 26  occ_date        1004991 non-null  int64
 27  occ_day         1004991 non-null  object
dtypes: float64(5), int64(9), object(14)
memory usage: 214.7+ MB
-----------------------

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,LAT,LON,occ_year,occ_date
count,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06
mean,2.202215e+08,4.866404e+10,1.069174e+01,1.115633e+03,1.400348e+00,5.001568e+02,2.891706e+01,3.056153e+02,1.185118e+02,4.999119e+02,3.399821e+01,-1.180909e+02,2.021879e+03,1.534594e+01
std,1.319718e+07,2.344925e+10,6.110255e+00,6.111605e+02,4.899691e-01,2.052731e+02,2.199272e+01,2.193038e+02,1.845896e+02,2.050791e+02,1.610713e+00,5.582386e+00,1.315051e+00,8.950559e+00
min,8.170000e+02,6.000000e+07,1.000000e+00,1.010000e+02,1.000000e+00,1.100000e+02,-4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.186676e+02,2.020000e+03,1.000000e+00
25%,2.106169e+08,3.240000e+10,5.000000e+00,5.870000e+02,1.000000e+00,3.310000e+02,0.000000e+00,1.010000e+02,0.000000e+00,3.310000e+02,3.401470e+01,-1.184305e+02,2.021000e+03,7.000000e+00
50%,2.209159e+08,5.160000e+10,1.100000e+01,1.139000e+03,1.000000e+00,4.420000e+02,3.000000e+01,2.030000e+02,0.000000e+00,4.420000e+02,3.405890e+01,-1.183225e+02,2.022000e+03,1.500000e+01
75%,2.311103e+08,6.840000e+10,1.600000e+01,1.613000e+03,2.000000e+00,6.260000e+02,4.400000e+01,5.010000e+02,3.070000e+02,6.260000e+02,3.416490e+01,-1.182739e+02,2.023000e+03,2.300000e+01
max,2.521041e+08,8.634000e+10,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.200000e+02,9.760000e+02,5.160000e+02,9.560000e+02,3.433430e+01,0.000000e+00,2.025000e+03,3.100000e+01

In [25]:
#Verifiacion de nulos o valores faltantes
df.isnull().sum()

DR_NO             0
Date Rptd         0
DATE OCC          0
TIME OCC          0
AREA              0
AREA NAME         0
Rpt Dist No       0
Part 1-2          0
Crm Cd            0
Crm Cd Desc       0
Mocodes           0
Vict Age          0
Vict Sex          0
Vict Descent      0
Premis Cd         0
Premis Desc       0
Weapon Used Cd    0
Weapon Desc       0
Status            0
Status Desc       0
Crm Cd 1          0
LOCATION          0
LAT               0
LON               0
occ_year          0
occ_month         0
occ_date          0
occ_day           0
dtype: int64

In [26]:
#verificacion de duplicados
df.duplicated().sum()

np.int64(0)

In [27]:
#Convertir Date Rptd a formato datetime
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'], format='%Y-%m-%d', errors='coerce')
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format='%Y-%m-%d', errors='coerce')

In [28]:
# Paso 1: Extraer los primeros 3 dígitos de TIME OCC
col = 'TIME OCC'

# Convertir a string
s = df[col].astype(str).str.strip()

# Extraer primeros 3 dígitos y crear columna
df['TIME_OCC_3DIGITS'] = s.str[:3]

print('Paso 1: Primeros 3 dígitos de TIME OCC')
print(df[['TIME OCC', 'TIME_OCC_3DIGITS']].head(20))
print(f"\nValores únicos en TIME_OCC_3DIGITS: {df['TIME_OCC_3DIGITS'].nunique()}")

# Paso 2: Convertir a decimal e interpretar como horas:minutos
# Insertar coma después del primer dígito: 315 -> 3,15
df['TIME_DECIMAL'] = (df['TIME_OCC_3DIGITS'].str[:1].astype(float) + 
                      df['TIME_OCC_3DIGITS'].str[1:].astype(float) / 100)

# Paso 3: Convertir decimal a HH:MM
# Parte entera = horas
df['TIME_HOUR'] = df['TIME_DECIMAL'].astype(int)

# Parte decimal × 60 = minutos (0.15 × 60 = 9, 0.75 × 60 = 45)
df['TIME_MINUTE'] = ((df['TIME_DECIMAL'] - df['TIME_HOUR']) * 60).round(0).astype(int)

# Paso 4: Crear columna formateada HH:MM
df['TIME_OCC_FORMATTED'] = df['TIME_HOUR'].astype(str).str.zfill(2) + ':' + df['TIME_MINUTE'].astype(str).str.zfill(2)

# Resumen
print('\nPaso 2-4: Conversión decimal a HH:MM')
print(f"Total de filas: {len(df)}")
print(f"Conversiones exitosas: {df['TIME_OCC_FORMATTED'].notna().sum()}")

print('\nEjemplos de conversiones:')
print(df[['TIME OCC', 'TIME_OCC_3DIGITS', 'TIME_DECIMAL', 'TIME_HOUR', 'TIME_MINUTE', 'TIME_OCC_FORMATTED']].head(15))

print('\nDistribución de horas:')
print(df['TIME_HOUR'].value_counts().sort_index())

Paso 1: Primeros 3 dígitos de TIME OCC
       TIME OCC TIME_OCC_3DIGITS
0   31500000000              315
1   67500000000              675
2   45600000000              456
3   47400000000              474
4   66600000000              666
5   43800000000              438
6   49800000000              498
7   50400000000              504
8   43200000000              432
9   32400000000              324
10     60000000              600
11  48000000000              480
12  54000000000              540
13  18000000000              180
14  82800000000              828
15  61080000000              610
16  27000000000              270
17  48000000000              480
18  14400000000              144
19  67800000000              678

Valores únicos en TIME_OCC_3DIGITS: 787

Paso 2-4: Conversión decimal a HH:MM
Total de filas: 1004991
Conversiones exitosas: 1004991

Ejemplos de conversiones:

Paso 2-4: Conversión decimal a HH:MM
Total de filas: 1004991
Conversiones exitosas: 1004991

Ejemplos de conversiones:
       TIME OCC TIME_OCC_3DIGITS  TIME_DECIMAL  TIME_HOUR  TIME_MINUTE  \
0   31500000000              315          3.15          3            9
1   67500000000              675          6.75          6           45
2   45600000000              456          4.56          4           34
3   47400000000              474          4.74          4           44
4   66600000000              666          6.66          6           40
5   43800000000              438          4.38          4           23
6   49800000000              498          4.98          4           59
7   50400000000              504          5.04          5            2
8   43200000000              432          4.32          4           19
9   32400000000              324          3.24          3           14
10     60000000              600          6.00          6            0
11  48000000000              480          4.80          4           48
12  54000000000              540          5.40          5           24
13  18000000000              180          1.80          1           48
14  82800000000              828          8.28          8           17

   TIME_OCC_FORMATTED
0               03:09
1               06:45
2               04:34
3               04:44
4               06:40
5               04:23
6               04:59
7               05:02
8               04:19
9               03:14
10              06:00
11              04:48
12              05:24
13              01:48
14              08:17

Distribución de horas:
       TIME OCC TIME_OCC_3DIGITS  TIME_DECIMAL  TIME_HOUR  TIME_MINUTE  \
0   31500000000              315          3.15          3            9
1   67500000000              675          6.75          6           45
2   45600000000              456          4.56          4           34
3   47400000000              474          4.74          4           44
4   66600000000              666          6.66          6           40
5   43800000000              438          4.38          4           23
6   49800000000              498          4.98          4           59
7   50400000000              504          5.04          5            2
8   43200000000              432          4.32          4           19
9   32400000000              324          3.24          3           14
10     60000000              600          6.00          6            0
11  48000000000              480          4.80          4           48
12  54000000000              540          5.40          5           24
13  18000000000              180          1.80          1           48
14  82800000000              828          8.28          8           17

   TIME_OCC_FORMATTED
0               03:09
1               06:45
2               04:34
3               04:44
4               06:40
5               04:23
6               04:59
7               05:02
8               04:19
9               03:14
10              06:00
11              04:48
12              05:24
13              01:48
14              08:17

Distribución de horas:
TIME_HOUR
1     65483
2     78663
3    129456
4    144795
5    154261
6    186267
7    167154
8     69288
9      9624
Name: count, dtype: int64
TIME_HOUR
1     65483
2     78663
3    129456
4    144795
5    154261
6    186267
7    167154
8     69288
9      9624
Name: count, dtype: int64

In [29]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,LON,occ_year,occ_month,occ_date,occ_day,TIME_OCC_3DIGITS,TIME_DECIMAL,TIME_HOUR,TIME_MINUTE,TIME_OCC_FORMATTED
0,211507896,2021-04-11,2020-11-07,31500000000,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,-118.4092,2020,Nov,7,Sat,315,3.15,3,9,03:09
1,201516622,2020-10-21,2020-10-18,67500000000,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,-118.4203,2020,Oct,18,Sun,675,6.75,6,45,06:45
2,240913563,2024-12-10,2020-10-30,45600000000,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,-118.4509,2020,Oct,30,Fri,456,4.56,4,34,04:34
3,210704711,2020-12-24,2020-12-24,47400000000,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,-118.3747,2020,Dec,24,Thu,474,4.74,4,44,04:44
4,201418201,2020-10-03,2020-09-29,66600000000,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,-118.4350,2020,Sep,29,Tue,666,6.66,6,40,06:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,2025-02-02,2025-02-02,5400000000,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,-118.6126,2025,Feb,2,Sun,540,5.40,5,24,05:24
1004987,250404100,2025-02-18,2025-02-18,36000000000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,-118.1979,2025,Feb,18,Tue,360,3.60,3,36,03:36
1004988,251304095,2025-01-31,2025-01-30,57240000000,13,Newton,1372,2,850,INDECENT EXPOSURE,...,-118.2701,2025,Jan,30,Thu,572,5.72,5,43,05:43
1004989,251704066,2025-01-17,2025-01-17,57600000000,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,-118.5233,2025,Jan,17,Fri,576,5.76,5,46,05:46
1004990,251904210,2025-03-25,2025-03-25,45300000000,19,Mission,1944,2,850,INDECENT EXPOSURE,...,-118.4417,2025,Mar,25,Tue,453,4.53,4,32,04:32

In [30]:
#Borramos las columnas que se habian agregado para la conversion de horas solamente dejamos TIME_OCC_FORMATTED y TIME_OCC_3DIGITS	TIME_DECIMAL 
df.drop(columns=['TIME_OCC_3DIGITS', 'TIME_DECIMAL', 'TIME_HOUR', 'TIME_MINUTE'], inplace=True)
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,LOCATION,LAT,LON,occ_year,occ_month,occ_date,occ_day,TIME_OCC_FORMATTED
0,211507896,2021-04-11,2020-11-07,31500000000,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,Invest Cont,354.0,7800 BEEMAN AV,34.2124,-118.4092,2020,Nov,7,Sat,03:09
1,201516622,2020-10-21,2020-10-18,67500000000,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,Invest Cont,230.0,ATOLL AV,34.1993,-118.4203,2020,Oct,18,Sun,06:45
2,240913563,2024-12-10,2020-10-30,45600000000,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,Invest Cont,354.0,14600 SYLVAN ST,34.1847,-118.4509,2020,Oct,30,Fri,04:34
3,210704711,2020-12-24,2020-12-24,47400000000,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,Invest Cont,331.0,6000 COMEY AV,34.0339,-118.3747,2020,Dec,24,Thu,04:44
4,201418201,2020-10-03,2020-09-29,66600000000,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,Invest Cont,420.0,4700 LA VILLA MARINA,33.9813,-118.4350,2020,Sep,29,Tue,06:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,2025-02-02,2025-02-02,5400000000,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,22100 ROSCOE BL,34.2259,-118.6126,2025,Feb,2,Sun,05:24
1004987,250404100,2025-02-18,2025-02-18,36000000000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,Invest Cont,237.0,3500 PERCY ST,34.0277,-118.1979,2025,Feb,18,Tue,03:36
1004988,251304095,2025-01-31,2025-01-30,57240000000,13,Newton,1372,2,850,INDECENT EXPOSURE,...,Invest Cont,850.0,300 E 53RD ST,33.9942,-118.2701,2025,Jan,30,Thu,05:43
1004989,251704066,2025-01-17,2025-01-17,57600000000,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,9600 ZELZAH AV,34.2450,-118.5233,2025,Jan,17,Fri,05:46
1004990,251904210,2025-03-25,2025-03-25,45300000000,19,Mission,1944,2,850,INDECENT EXPOSURE,...,Invest Cont,850.0,11100 OMELVENY AV,34.2722,-118.4417,2025,Mar,25,Tue,04:32

In [32]:
#Seguimos eliminando columnas que no aportan informacion relevante para el analisis
""" df.drop(columns=['time_raw_str', 'time_trim', 'time_pad', 'time_parsed', 'time_decimal'], inplace=True)
df  """

" df.drop(columns=['time_raw_str', 'time_trim', 'time_pad', 'time_parsed', 'time_decimal'], inplace=True)\ndf  "

In [33]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,LOCATION,LAT,LON,occ_year,occ_month,occ_date,occ_day,TIME_OCC_FORMATTED
0,211507896,2021-04-11,2020-11-07,31500000000,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,Invest Cont,354.0,7800 BEEMAN AV,34.2124,-118.4092,2020,Nov,7,Sat,03:09
1,201516622,2020-10-21,2020-10-18,67500000000,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,Invest Cont,230.0,ATOLL AV,34.1993,-118.4203,2020,Oct,18,Sun,06:45
2,240913563,2024-12-10,2020-10-30,45600000000,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,Invest Cont,354.0,14600 SYLVAN ST,34.1847,-118.4509,2020,Oct,30,Fri,04:34
3,210704711,2020-12-24,2020-12-24,47400000000,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,Invest Cont,331.0,6000 COMEY AV,34.0339,-118.3747,2020,Dec,24,Thu,04:44
4,201418201,2020-10-03,2020-09-29,66600000000,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,Invest Cont,420.0,4700 LA VILLA MARINA,33.9813,-118.4350,2020,Sep,29,Tue,06:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,2025-02-02,2025-02-02,5400000000,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,22100 ROSCOE BL,34.2259,-118.6126,2025,Feb,2,Sun,05:24
1004987,250404100,2025-02-18,2025-02-18,36000000000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,Invest Cont,237.0,3500 PERCY ST,34.0277,-118.1979,2025,Feb,18,Tue,03:36
1004988,251304095,2025-01-31,2025-01-30,57240000000,13,Newton,1372,2,850,INDECENT EXPOSURE,...,Invest Cont,850.0,300 E 53RD ST,33.9942,-118.2701,2025,Jan,30,Thu,05:43
1004989,251704066,2025-01-17,2025-01-17,57600000000,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,9600 ZELZAH AV,34.2450,-118.5233,2025,Jan,17,Fri,05:46
1004990,251904210,2025-03-25,2025-03-25,45300000000,19,Mission,1944,2,850,INDECENT EXPOSURE,...,Invest Cont,850.0,11100 OMELVENY AV,34.2722,-118.4417,2025,Mar,25,Tue,04:32

In [36]:
#Guardamos el datset limpio en un nuevo archivo CSV
df.to_csv('Crimenes2023-2025_limpio.csv', index=False)

In [37]:
#Vamos verifcar si tiene nulos todas las columnas vamos usar una funcion para que sea mas rapido
def verificacion_nulos(df2):
    """
    Función para verificar valores nulos en un DataFrame
    Retorna un resumen detallado de nulos por columna
    """
    print('='*70)
    print('VERIFICACIÓN DE VALORES NULOS')
    print('='*70)
    
    # Contar nulos por columna
    nulos = df.isnull().sum()
    total_filas = len(df)
    porcentaje = (nulos / total_filas * 100).round(2)
    
    # Crear DataFrame de resumen
    resumen_nulos = pd.DataFrame({
        'Columna': nulos.index,
        'Nulos': nulos.values,
        'Total': total_filas,
        'Porcentaje (%)': porcentaje.values
    })
    
    # Filtrar solo columnas con nulos
    resumen_nulos_con_nulos = resumen_nulos[resumen_nulos['Nulos'] > 0].sort_values('Porcentaje (%)', ascending=False)
    
    print(f"\nTotal de filas: {total_filas}")
    print(f"Total de columnas: {len(df.columns)}\n")
    
    if len(resumen_nulos_con_nulos) == 0:
        print("✓ ¡EXCELENTE! NO HAY VALORES NULOS EN NINGUNA COLUMNA")
    else:
        print("⚠ COLUMNAS CON VALORES NULOS:")
        print(resumen_nulos_con_nulos.to_string(index=False))
    
    print('\n' + '='*70)
    return resumen_nulos

# Cargar el dataset limpio
df2 = pd.read_csv('Crimenes2023-2025_limpio.csv')

# Ejecutar verificación
resumen = verificacion_nulos(df2)

======================================================================
VERIFICACIÓN DE VALORES NULOS
======================================================================

Total de filas: 1004991
Total de columnas: 29

✓ ¡EXCELENTE! NO HAY VALORES NULOS EN NINGUNA COLUMNA

======================================================================

Total de filas: 1004991
Total de columnas: 29

✓ ¡EXCELENTE! NO HAY VALORES NULOS EN NINGUNA COLUMNA

======================================================================

In [ ]:
# CATEGORIZAR PERÍODOS DEL DÍA - BASADO EN APROXIMACIÓN DE HORA
# ⚠ NOTA IMPORTANTE: Como TIME OCC no tiene hora exacta (solo primeros 3 dígitos),
# esta categorización es APROXIMADA y solo para fines de análisis en Power BI

# Paso 1: Extraer la hora aproximada en una columna nueva
df2['Hour_OCC'] = df2['TIME_OCC_FORMATTED'].str[:2].astype(int)

# Paso 2: Crear función para categorizar períodos
def categorizar_periodo(hour):
    """
    Categoriza la hora APROXIMADA en períodos del día:
    - Madrugada: 00:00 - 05:59
    - Mañana: 06:00 - 11:59
    - Tarde: 12:00 - 17:59
    - Noche: 18:00 - 23:59
    
    ⚠ NOTA: Esta es una categorización APROXIMADA basada en los 
    primeros 3 dígitos de TIME OCC, NO es una hora exacta.
    """
    if pd.isna(hour):
        return 'Unknown'
    elif 0 <= hour < 6:
        return 'Madrugada'
    elif 6 <= hour < 12:
        return 'Mañana'
    elif 12 <= hour < 18:
        return 'Tarde'
    else:  # 18 <= hour < 24
        return 'Noche'

# Paso 3: Aplicar la función
df2['Period_Day'] = df2['Hour_OCC'].apply(categorizar_periodo)

# Paso 4: Mostrar resultados
print('='*70)
print('CLASIFICACIÓN APROXIMADA DE INCIDENTES POR PERÍODO DEL DÍA')
print('='*70)
print('\n⚠ IMPORTANTE:')
print('   Como TIME OCC no proporciona hora exacta, esta categorización')
print('   es APROXIMADA basada en los primeros 3 dígitos del número original.')
print('   Usar solo para análisis general en Power BI.')

print('\nEjemplos de clasificación:')
print(df2[['TIME_OCC_FORMATTED', 'Hour_OCC', 'Period_Day']].head(15))

print('\n\nDistribución de incidentes por período (APROXIMADA):')
period_counts = df2['Period_Day'].value_counts()
print(period_counts)

print('\n\nPorcentaje por período:')
period_pct = (df2['Period_Day'].value_counts() / len(df2) * 100).round(2)
for period, pct in period_pct.items():
    print(f"  {period}: {pct}%")

print('\n' + '='*70)
print('✓ Columnas creadas:')
print('  - Hour_OCC: Hora aproximada (0-23)')
print('  - Period_Day: Categoría APROXIMADA del período')
print('  - TIME_OCC_FORMATTED: Valor original intacto')
print('\n⚠ Estas columnas son APROXIMADAS. No usar para análisis de precisión.')
print('='*70)

# Guardar dataset actualizado
df2.to_csv('Crimenes2023-2025_limpio.csv', index=False)
print('\n✓ Dataset guardado')

======================================================================
CLASIFICACIÓN APROXIMADA DE INCIDENTES POR PERÍODO DEL DÍA
======================================================================

⚠ IMPORTANTE:
   Como TIME OCC no proporciona hora exacta, esta categorización
   es APROXIMADA basada en los primeros 3 dígitos del número original.
   Usar solo para análisis general en Power BI.

Ejemplos de clasificación:
   TIME_OCC_FORMATTED  Hour_OCC Period_Day
0               03:09         3  Madrugada
1               06:45         6     Mañana
2               04:34         4  Madrugada
3               04:44         4  Madrugada
4               06:40         6     Mañana
5               04:23         4  Madrugada
6               04:59         4  Madrugada
7               05:02         5  Madrugada
8               04:19         4  Madrugada
9               03:14         3  Madrugada
10              06:00         6     Mañana
11              04:48         4  Madrugada
12              05:24         5  Madrugada
13              01:48         1  Madrugada
14              08:17         8     Mañana


Distribución de incidentes por período (APROXIMADA):
   TIME_OCC_FORMATTED  Hour_OCC Period_Day
0               03:09         3  Madrugada
1               06:45         6     Mañana
2               04:34         4  Madrugada
3               04:44         4  Madrugada
4               06:40         6     Mañana
5               04:23         4  Madrugada
6               04:59         4  Madrugada
7               05:02         5  Madrugada
8               04:19         4  Madrugada
9               03:14         3  Madrugada
10              06:00         6     Mañana
11              04:48         4  Madrugada
12              05:24         5  Madrugada
13              01:48         1  Madrugada
14              08:17         8     Mañana


Distribución de incidentes por período (APROXIMADA):
Period_Day
Madrugada    572658
Mañana       432333
Name: count, dtype: int64


Porcentaje por período:
  Madrugada: 56.98%
  Mañana: 43.02%

======================================================================
✓ Columnas creadas:
  - Hour_OCC: Hora aproximada (0-23)
  - Period_Day: Categoría APROXIMADA del período
  - TIME_OCC_FORMATTED: Valor original intacto

⚠ Estas columnas son APROXIMADAS. No usar para análisis de precisión.
======================================================================
Period_Day
Madrugada    572658
Mañana       432333
Name: count, dtype: int64


Porcentaje por período:
  Madrugada: 56.98%
  Mañana: 43.02%

======================================================================
✓ Columnas creadas:
  - Hour_OCC: Hora aproximada (0-23)
  - Period_Day: Categoría APROXIMADA del período
  - TIME_OCC_FORMATTED: Valor original intacto

⚠ Estas columnas son APROXIMADAS. No usar para análisis de precisión.
======================================================================